* {
    margin: 0;
    padding: 0;
}

.image img {
    height: 132px;
    width: 165px;
    margin: 126px 637px 34px 638px;
}
.container{
    height: 443px;
    width: 360px;
    margin: 0px 540px 82px 540px;
    border: 1px solid grey;
    box-shadow: 1px 2px 13px 0px grey;
}
h2{
    height: 70px;
    width: 360px;
    margin-bottom: 16px;
    background-color: rgb(2, 100, 132);
    color: white;
    font-size: 33px;
    font-weight: bold;
}
h2 p{
    margin: 10px 257px 10px 26px;
}