* {
    margin: 0;
    padding: 0;

}

.top {

    display: flex;
    display: inline-block;
    margin-left: 120px;

}

.top img {
    margin-top: 24px;

    height: 100%;
    width: 323px;
}


.main nav {
    margin-top: 33px;
    height: 71px;
    width: 1200px;
    margin-left: 120px;
    /* margin-right: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 19px 16px 19px 16px; */
    background-color: rgb(0, 162, 216);
}


.wh a {
    color: beige;
    text-decoration: none;

}

.main nav li {
    display: inline-block;
    padding: 19px 16px 19px 16px;
    height: 33px;

}




/* .nav li > a:first-child {
    padding: 16px 10px 16px 0px;

} */

.main nav li a {
    transition: all 0.3s ease 0s;
}

.main nav li a:hover {
    background-color: #d01313;
    padding: 5px;

}

.dropdown-toggle {
    position: relative;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(40, 147, 183);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: rgb(40, 147, 183);
}


.dropdown:hover .dropdown-menu {
    display: grid;
    background-color: rgb(40, 147, 183);
}

.sch {
    display: flex;
    flex-direction: row;
}

input {
    display: flex;
    flex-direction: row;
    height: 33px;
    width: 120px;
    /* background-color:rgb(40, 147, 183); ; */
}

.s {
    height: 33px;
    background-color: rgb(40, 147, 183);
    ;
}

.ad img {
    height: 147px;
    width: 862px;
    margin: 52px 276px 51px 302px;
}

.move {
    text-align: right;
    display: flex;
}

.fixed {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 120px;
    color: white;
    background-color: red;
    border-radius: 3px;
    padding: 7px 9px 7px 5px;
    height: 54px;
    width: 165.4px;
}





.moveright {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 147.5px;
    background-color: rgb(40, 147, 183);
    color: white;
    padding: 7px 9px 7px 5px;
}

.news1 {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 65px;
    width: 1224px;
    height: 184px;
    border: 1px solid grey;
}

.news1 p {
    padding: 80px 24px 62px 24px;
    text-align: center;
    font-size: x-large;
}

.box {
    border: 2px solid grey;
    margin: 33px 50px 33px 50px;
    height: 907px;
    width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 32px 32px 32px 32px;
}

/* .news2 {

    margin: 32px 129px 28px 129px;

} */

.news2 p {
    font-size: x-large;
    text-align: center;
    font-weight: 400;
    margin: 32px 129px 28px 129px;
}

.imagecontainer img {
    height: 694px;
    width: 1136px;
    margin: 28px 32px 28px 32px;
    overflow: hidden;
}

.news3 {
    margin: 28px 28px 30px 28px;
}

.news3 p {
    font-size: medium;
    font-weight: 400;
    text-align: center;
}

.taja {
    margin: 64px 1125px 16px 120px;
    font-size: x-large;
    font-weight: bolder
}

.line {
    margin: 16px 120px 52px 120px;
    width: 1199px;
    height: 8px;
    position: relative;
    background-color: lightgray
}

.redline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-color: brown
}

.greyline {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: lightgray;
}

.threeimage {
    width: 1200px;
    height: 376px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 52PX 120px 40px 120px;

}

.img1 img {
    height: 260px;
    width: 364px;
    margin-right: 54px;
    margin-bottom: 16px;
}

.img1 div {
    font-weight: 600;
    margin-bottom: 8px;

}

.img1 p {
    margin: 8px 0px 32px 0px;
}

.img2 img {
    height: 260px;
    width: 364;
    margin-right: 54px;
    margin-bottom: 16px;

}

.img2 div {
    font-weight: 600;
    margin-bottom: 9px;
    margin-right: 54px;

}

.img2 p {
    margin: 9px 0px 0px 0px;
}

.img3 img {
    height: 260px;
    width: 360px;
    margin-bottom: 16px;
}

.img3 div {
    font-weight: 600;
    margin-bottom: 9px;
}

.img3 p {
    margin-top: 9px;
}

.mar1 {
    margin: 52px 0px 40px 0px;
}

.mar2 {
    margin-bottom: 40px;
}

.mar3 {
    margin-bottom: 40px;
}

.international {
    margin: 40px 1050px 8px 120px;


}

.international p {
    font-weight: 600;
    font-size: x-large;
}

.lines {
    margin: 8px 507px 57px 120px;
    width: 813px;
    height: 5px;
    position: relative;
    background-color: lightgray
}

.redlines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: brown
}

.greylines {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: lightgray;
}

.threeimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 57px 507px 48px 120px;
    justify-content: space-between;
    height: 419px;
    width: 813px;


}

.imag1 img,
.imag2 img,
.imag3 img {
    height: 215px;
    width: 255px;



}

.date {
    margin: 24px 113px 4px 24px;
    font-size: smaller;

}

.why {
    margin: 4px 21px 12px 24px;
    font-weight: 800;

}

.spanish {
    margin: 12px 21px 16px 24px;

}

.threeimages>div {
    /* /* flex: 1; */
    border: 1px solid lightgrey;
    margin: 15px;
}

.imgmarg {
    margin-top: 48px;
    margin-bottom: 58px;
}

.artha {
    margin: 58px 1005px 7px 120px;
}

.artha p {
    font-weight: 600;
    font-size: x-large;
}

.slines {
    margin: 7px 507px 58px 120px;
    width: 813px;
    height: 6px;
    position: relative;
    background-color: lightgray;
}

.sredlines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    background-color: brown
}

.sgreylines {
    position: absolute;
    top: 0;
    right: 0;
    width: 67%;
    height: 100%;
    background-color: lightgray;

}



.container {
    position: relative;
    height: 506px;
    width: 814px;
    margin: 58px 506px 36px 120px;
}

.container img {
    width: 100%;
    height: auto;
    display: block;

}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-text {
    width: 641px;
    height: 50px;
    position: absolute;
    top: 425px;
    bottom: 28px;
    left: 25px;
    right: 144px;
    color: white;
    font-size: x-large;
    font-weight: 400;
    font-family: Arial, sans-serif;
    z-index: 1;
    padding: 13px;
}

.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px 507px 36px 120px;
    justify-content: space-between;
    height: 310px;
    width: 813px;
}

.photos>div {
    border: 1px solid lightgrey;
    margin-right: 24px;

}

.photo1 img,
.photo2 img,
.photo3 img {
    height: 215px;
    width: 255px;
}

.photo1,
.photo2,
.photo3 {
    height: 310px;
    width: 255px;
}

.sentence {
    width: 210px;
    height: 56px;
    font-weight: 800;
    margin: 17px 34px 22px 11px;
}


.sikhxya {
    margin: 36px 735px 7px 120px;
}



.sikhxya p {
    font-weight: 600;
    font-size: x-large;
}

.big {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.fourimage {

    border: 2px solid black;
    height: 30px;
    width: 30px;

}

.rectangle {
    border: 2px solid black;
    height: 30px;
    width: 30px;

}
















.health {
    margin: 36px 735px 7px 120px;
}

.health p {
    font-weight: 600;
    font-size: x-large;
}

/* .below{
    margin-bottom: 27px;
} */
.more {
    background-color: blue;
    width: 111px;
    height: 39px;
    padding: 8px 16px 8px 16px;
    margin: 0px 1209px 57px 120px;
    border-radius: 8px;
}

button p {
    color: white;
}

footer {
    height: 389px;
    width: 100vw;
    margin-top: 57px;
    background-color: rgb(2, 100, 132)
}

.fourboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */

}

.box1 {
    height: 214px;
    width: 283px;
    margin: 48px 46px 76px 106px;
}

.box1 img {
    width: 263px;
    height: 100px;
}

.box2 {
    width: 315px;
    height: 214px;
    margin: 48px 46px 76px 0px;
}

.info {
    width: 240px;
    height: 28px;
    margin: 19px 52px 21px 23px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.info1 {
    margin: 0px 15px 92px 23px;
    color: white;
    font-weight: lighter;
}

.box3 {
    height: 214px;
    width: 255px;
    margin: 48px 46px 76px 46px;
}

.contact {
    width: 187px;
    height: 28px;
    margin: 19px 49px 21px 19px;
    color: white;
    font-size: 18px;
    font-weight: 600;

}

.contact1 {
    width: 146px;
    height: 50px;
    margin: 0px 90px 16px 19px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

.contact2 {
    height: 26px;
    width: 153px;
    margin: 0px 83px 16px 19px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}

.contact3 {

    height: 26px;
    width: 117px;
    margin: 0px 12px 119px 19px;
    color: white;
    font-size: 15px;
    font-weight: lighter;

}
.box4{
    height: 214px;
    width: 263px;
    margin: 48px 80px 76px 0px;
    color: white;
    font-size: semi-bold;
}
.social{
    height: 28px;
    width: 121px;
    color: white;
    font-size: 18px;
    margin: 19px 123px 21px 19px;
    font-weight: 600;
}
.b{
    margin: 0px 105px 110px 26px; 
 
}
.btn{
    border: 2px solid blue;
    border-radius: 999px ;
    background-color: blue;
    height: 36px;
    width: 36px;
    margin-right: 8px;
    color: white;
    
}
.fline{
    height: 1px;
    width: 100vw;
    border: 1px solid grey;
    background-color: white;
}
.fbelow{
    height: 51px;
    width: 1196px;
    margin: 0px 122px 0px 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ltd{
    color: white;
    height: 18px;
    width: 253px;
    font-size: 12px;
    margin: 15px 827px 17px 0px;

}
.site{
color: white;
height: 18px;
width: 114px;
font-size: 12px;
margin-top: 15px;
margin-bottom: 17px;
}